body {
  font-family: Monaco;
  font-weight: 100;
  color: lightskyblue;
  background-color:black;
}

#title {
  font-family: Optima;
  text-align: center;
}

#editor, #runcode, #output {
  display: block;  
  margin: auto;
  width: 80%;
}

textarea, button {
  background-color: black;
  border: 1px solid lightsteelblue;
  border-radius: 6px;
  color: lightblue;
  display: block;
  font-family: Monaco;
  margin: 10px auto;
  outline: none;
}

textarea {
  font-size: 15px;
  height: 50%;
  resize: none;
  width: 100%;
}

button {
  background-color: black;
  border: solid 1px;
  border-color: cornflowerblue;
  border-radius: 6px;
  color: cornflowerblue;
  font-size: 15px;
  outline: none;
}

button:hover {
  border-color: lightseagreen;
  color: lightseagreen;
}
